receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
  memory_limiter:
      limit_mib: 512

extensions:
  health_check:
  pprof:
      endpoint: 0.0.0.0:1777
  zpages:
      endpoint: 0.0.0.0:55679

exporters:
  prometheus:
      endpoint: "0.0.0.0:8889"
      const_labels:
          environment: "demo"
  kafka:
      brokers: ["kafka:9092"]
      topic: "otlp-events"
      encoding: "json"
      timeout: 5s
      sending_queue:
          enabled: true
          num_consumers: 4
      producer:
          compression: gzip

service:
  extensions: [health_check, pprof, zpages]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [kafka]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [prometheus]
