[package]
name = "cbad_core"
version = "0.0.1"
edition = "2021"

[lib]
name = "cbad_core"
crate-type = ["cdylib", "rlib"]

[dependencies]
rand = "0.8"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

