apiVersion: v1
kind: Service
metadata:
  name: {{ include "driftlock.fullname" . }}-api
  labels:
    {{- include "driftlock.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "driftlock.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api
